@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color: #181818;
    transition: 0.6s;
    height: 100vh;
    overflow: hidden;

}
.error {
    color: red;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*Home Page*/
#text_div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    
}
.center_all{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%,-50%);
    color: white;
}
.custom_subText{
    text-align: center;
    font-weight: bold;
}
.custom-subTitle{
    font-weight: bold;
}
.effort_est{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.effort_est_btn {
    margin-top: 35px;
}
.effort_est_btn a{
    text-decoration: none;
    color: white;
    background:#090909;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 40px; 
    margin-right: 10px;
    transition:0.6s;
}
.effort_est_btn a:hover{
    transition:0.6s;
    color: white;
    background:#202020;
    border: none;
}
/*Default Text Positioning*/
.above_particle{
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*404 Page*/
.notFound{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.__redirect{
    margin-top: 15px;
    padding: 10px 40px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #52749D;
    border-radius: 25px;
    background:#52749D;
    text-transform: capitalize;
    transition:0.6s;
}
 .__redirect:hover{
    color: #52749D;
    border: 1px solid white;
    background:white;
    transition:0.6s;
}
/*Header*/
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition:0.6s;
    padding:40px 100px;
    
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}
header ul{
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;

}
header ul li a{
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition:0.6s;
}
/*FPA*/
.FPA{
    position:absolute;
    /* top:20%;
    left: 0; */
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%,-50%);
    color: white;
}

/*Cocomo*/
.cocomo{
    position:absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%,-50%);
    color: white;
}
.cocomo_submenu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.cocomo_submenu a{
    padding:20px;
    text-decoration: none;
    color: white;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    font-weight: bold;
    font-size: 20px;
}
.cocomo_submenu a:first-child{
    border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.cocomo_submenu a:last-child{
    border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/*Organic*/
.organic{
    position:absolute;
    top:25%;
    left: 0%;
    width: 100%;
    color: white;
}
.organic__head__button{
    background:transparent;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 34px;
    display: flex;
    align-items: center;
}
.organic__head form{
    margin-top: 25px;
}
.organic__head form .form__group{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.organic__head form .form__group label{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}
.organic__head form .form__group input{
    padding: 10px;
    font-size: 15px;
    width: 300px;
    font-weight: bold;
    color:white;
    border: none;   
    background:transparent;
    border-bottom: 1px solid white;
}
.organic__head form .form__group input:focus{
    outline: none;
}
.organic__head form button{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    color: white;
    margin: 20px 0px;
    font-weight: bold;  
    font-size: 16px;
    padding:12px;
    border: none;
    border-radius: 5px;
}
.organic__head form button:focus{
    outline: none;
}
.organic__answers h2{
    font-family: 'Dancing Script', cursive;
}


/*Semi-Detached*/
.semi__detached{
    position:absolute;
    top:25%;
    left: 0%;
    width: 100%;
    color: white;
}
.detached__head__button{
    background:transparent;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 34px;
    display: flex;
    align-items: center;
}
.detached__head form{
    margin-top: 25px;
}
.detached__head form .form__group{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.detached__head form .form__group label{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}
.detached__head form .form__group input{
    padding: 10px;
    font-size: 15px;
    width: 300px;
    font-weight: bold;
    color:white;
    border: none;   
    background:transparent;
    border-bottom: 1px solid white;
}
.detached__head form .form__group input:focus{
    outline: none;
}
.detached__head form button{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    color: white;
    margin: 20px 0px;
    font-weight: bold;  
    font-size: 16px;
    padding:12px;
    border: none;
    border-radius: 5px;
}
.detached__head form button:focus{
    outline: none;
}
.detached__answers h2{
    font-family: 'Dancing Script', cursive;
}

/*Embedded*/
.embedded{
    position:absolute;
    top:25%;
    left: 0%;
    width: 100%;
    color: white;
}
.embedded__head_button{
    background:transparent;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 34px;
    display: flex;
    align-items: center;
}
.embedded__head form{
    margin-top: 25px;
}
.embedded__head form .form__group{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.embedded__head form .form__group label{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}
.embedded__head form .form__group input{
    padding: 10px;
    font-size: 15px;
    width: 300px;
    font-weight: bold;
    color:white;
    border: none;   
    background:transparent;
    border-bottom: 1px solid white;
}
.embedded__head form .form__group input:focus{
    outline: none;
}
.embedded__head form button{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    color: white;
    margin: 20px 0px;
    font-weight: bold;  
    font-size: 16px;
    padding:12px;
    border: none;
    border-radius: 5px;
}
.embedded__head form button:focus{
    outline: none;
}
.embedded__answers h2{
    font-family: 'Dancing Script', cursive;
}


/*Cocomo2*/
.cocomo2{
    position:absolute;
    top: 15%;
    left:0%;
    width: 100%;
    color: white;
}
.cocomo2 form{
    margin-top: 25px;
}
.cocomo2 form .form__group__wrapper{
    display: flex;
    /* justify-content: space-evenly; */
}
.cocomo2 form .form__group{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.cocomo2 form .form__group .exp_radio .exp_radio_wrapper{
    display: flex;
}
.cocomo2 form .form__group .exp_radio .exp_radio_wrapper input{
    width: 100px;
}
.cocomo2 form .form__group .exp_radio .exp_radio_wrapper label{
    margin-right: 25px;
}
.cocomo2 form .form__group label{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
}
.cocomo2 form .form__group label small{
    font-size: 14px;
    font-weight: normal;
}
.cocomo2 form .form__group input{
    padding: 5px;
    font-size: 15px;
    width: 250px;
    font-weight: bold;
    color:white;
    border: none;   
    background:transparent;
    border-bottom: 1px solid white;
    margin-right: 10px;
}
.cocomo2 form .form__group input:focus{
    outline: none;
}
.cocomo2 form button{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    color: white;
    margin: 20px 0px;
    font-weight: bold;  
    font-size: 16px;
    padding:12px;
    border: none;
    border-radius: 5px;
}
.cocomo2 form button:focus{
    outline: none;
}
.cocomo2__answer{
    display: flex;
    align-items:center;
}
.cocomo2__answer h2{
    margin-left: 15px;
    font-family: 'Dancing Script', cursive;
}

/*SLIM*/
.slim{
    position:absolute;
    top: 15%;
    left:0%;
    width: 100%;
    color: white;
}
.slim form{
    margin-top: 25px;
}
.slim form .form__group{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.slim form .form__group label{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
}
.slim form .form__group input{
    padding: 5px;
    font-size: 15px;
    width: 300px;
    font-weight: bold;
    color:white;
    border: none;   
    background:transparent;
    border-bottom: 1px solid white;
}
.slim form .form__group input:focus{
    outline: none;
}
.slim form button{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    color: white;
    margin: 20px 0px;
    font-weight: bold;  
    font-size: 16px;
    padding:12px;
    border: none;
    border-radius: 5px;
}
.slim form button:focus{
    outline: none;
}
.slim__answer h2{
    font-family: 'Dancing Script', cursive;
}
/*UCP*/
.ucp{
    position:absolute;
    /* top:20%;
    left: 0; */
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%,-50%);
    color: white;
}